.loader{
    margin: auto;
    margin: left 50%;
    margin-top: 3rem; 
    // animation: expand 2s infinite alterate !important;
}

// @keyframes expand{
//     0%{
//         transform: scale(0);
//     }
//     100%{
//         transform: scale(21);
//     }
// }