.home-page{
    display: flex;
    max-width: var(--max-width);
    padding: 0 2rem;


    .home-main{
        padding: 2rem;
        
        width: 70%;
        
        max-width: var(--max-width);
        

        .feed-options{
            border: 1px solid red;
            padding: 1rem 1.5rem;
            display: flex;
            gap: 0.75rem;
            

            button{
                font-weight: bold;
                transition: 0.2s ease-in-out;
                cursor:pointer;
                &:hover{
                    background-color: var(--color-text);
                    color:var(--color-bg);
                    box-shadow: -5px 5px 0 var(--color-neutral-4);
                }
            }

        }

    }

    .home-side{
        padding: 2rem;
        width: 30%;
        // border: 1px solid lime;
    }
}



@media only screen and (max-width:600px) {

    .home-page{
        .home-side{
            display: none;
        }
        .home-main{
            width: 100%;
        }
    }

    
}