.home-page{
    display: flex;
    max-width: var(--max-width);
    padding: 0 2rem;


    .home-main{
        padding: 2rem;
        
        width: 70%;
        
        max-width: var(--max-width);
        

        .feed-options{
            // border: 1px solid red;
            padding: 1rem 1.5rem;
            display: flex;
            gap: 0.75rem;
            

            button{
                font-weight: bold;
                transition: 0.2s ease-in-out;
                cursor:pointer;
                &:hover, &.selected{
                    background-color: var(--color-text);
                    color:var(--color-bg);
                    box-shadow: -5px 5px 0 var(--color-neutral-4);
                }

            }




        }

    }

    .home-side{
        padding: 3rem 2rem;
        width: 30%;
        // border: 1px solid lime;

        > p:first-of-type{
            font-weight: bold;
            margin-bottom:1rem;
        }

        .home-tags{
            // border: 1px solid red;
            display:flex;
            gap: 0.5rem; 
            flex-wrap: wrap;

            > p{
                padding: 0.15rem 0.5rem;
                background-color: var(--color-neutral-4);
                border-radius:0.5rem;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }

            }
        }
    }
}



@media only screen and (max-width:600px) {

    .home-page{
        .home-side{
            display: none;
        }
        .home-main{
            width: 100%;
        }
    }

    
}