:root{
  font-family: Inter,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-bg);

  --max-width: 1600px;

  --color-primary: #88eead;
  --color-secondary: #167497;
  --color-accent: #429be4;
  --color-text: #e6fbee;
  --color-bg:#020f07;

  --color-neutral-1: #c4c2ce;
  --color-neutral-2: #7c818f;
  --color-neutral-3: #565565;
  --color-neutral-4: #343a40;

}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing:border-box;

  &:focus{
    outline:none;
  }
}

button{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: none;
  padding: 0.5rem 1.25rem;
  background-color: var(--color-text);
  color: var(--color-text);
  border: 1px slid var(--color-text);
}

.page{
  min-height: 100vh;
}

input,textarea,button{
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  // margin: 0.5rem 0;
}


// #main{
//   display:flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

a{
  text-decoration:none;
}